<a href="https://colab.research.google.com/github/minu-97/TIL/blob/master/Data_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## EDA

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
import sys
import warnings
import numpy as np
import pandas as pd
import json

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style='white', context='notebook', palette='deep')

warnings.filterwarnings(action='ignore')

if get_ipython():
    print("jupyter envirionment")
    PROJECT_DIR = os.path.abspath(os.path.join(os.path.dirname('__file__'), '..'))
    from tqdm import tqdm_notebook as tqdm  # 이거 안해주면 한 줄씩 출력됨 ;;
else:
    print("command shell envirionment")
    PROJECT_DIR = os.path.abspath(os.path.join(os.path.dirname(__file__), '..'))
    from tqdm import tqdm

# sys.pathdp PROJECT_DIR 추가
sys.path.insert(0, PROJECT_DIR)

jupyter envirionment

In [ ]:
DATA_DIR = "/content/drive/MyDrive/multi/final_project/kobart_model/data/training/01.news_r/2~3sent"
RAW_DATA_DIR = "/content/drive/MyDrive/multi/final_project/kobart_model/data/validation/01.news_r/2~3sent"

In [ ]:
DATA_DIR

'/content/drive/MyDrive/multi/final_project/kobart_model/data/training/01.news_r/2~3sent'

In [ ]:
import pandas as pd
import numpy as np
import os
import json

data_list = []
topic_list = []
media_list = []
cnt = 0
data_path = '/content/drive/MyDrive/multi/final_project/kobart_model/data/training/01.news_r/2~3sent/'
folders = os.listdir(data_path)
# print(len(folders))


for i in range(0,1000):
  if folders[i].split('.')[1] == 'json':
    file = data_path+folders[i]
    with open(file, 'r') as file:
        # print(i)
        data = json.load(file)
        data_str = ''.join(data.get('Meta(Refine)').get('passage'))
        data_list.append(data_str)
        topic_str = ''.join(data.get('Annotation').get('summary2'))
        topic_list.append(topic_str)
        media_str =''.join(data.get('Meta(Acqusition)').get('publisher'))
        media_list.append(media_str)
            
# dict 형태로 합치기
train_dict_dataset = {'media' : media_list, "article_orginal" : data_list, "extractive" :  topic_list}
train_df = pd.DataFrame(train_dict_dataset)

In [ ]:
train_df

,media,article_orginal,extractive
0,중앙일보,불에 탈 땐 ‘시안화수소’란 치명적인 맹독성 가스를 내뿜는데 한 모금만 들이마셔도...,샌드위치 패널 가운데 들어가는 단열재로 불에 잘 타지 않는 난연성 제품 대신 값싼 ...
1,중앙일보,기능성을 살린 유틸리티 웨어가 인기다.\n 일명 '워크웨어'라고도 불리는데 산업 ...,기능성을 살린 유틸리티 웨어가 인기다. 일명 '워크웨어'라고도 불리는데 산업 현장에...
2,중앙일보,올 1분기 한국 경제가 1년 만에 다시 역성장할 위기에 놓였다.\n 한국 경제에 ...,올 1분기 한국 경제가 1년 만에 다시 역성장할 위기에 놓였다. 한국 경제에 대한 ...
3,중앙일보,JYP엔터테인먼트가 새롭게 내놓은 일본 9인조 걸그룹 니쥬(NiziU)가 일본에서...,JYP엔터테인먼트가 새롭게 내놓은 일본 9인조 걸그룹 니쥬(NiziU)가 일본에서 ...
4,중앙일보,당시 5개 상영관에서 영화를 보던 고객 120여명이 환불 약속을 받고 관람 중단에...,영화관 측은 1일 오후 5시 30분쯤 보건당국으로부터 연락을 받은 뒤 1시간 만에 ...
...,...,...,...
495,중앙일보,"라임자산운용과 청와대, 서로 관련 없을 것 같은 두 곳의 연결고리로 코스닥 기업 실...","라임자산운용과 청와대, 서로 관련 없을 것 같은 두 곳의 연결고리로 코스닥 기업 실..."
496,중앙일보,아스트라제네카에서 이어 노바백스까지….\n SK그룹의 백신 전문기업 SK바이오사이...,SK그룹의 백신 전문기업 SK바이오사이언스가 신종 코로나바이러스 감염증(코로나19)...
497,중앙일보,수그러들 것 같았던 코로나19가 다시 늘어나 걱정하는 국민이 늘고 있던 지난 6일....,경제사회노동위원회 사무실에서 한국노총·한국경총 및 고용노동부 간부들이 모였다. 그래...
498,중앙일보,"지난해 인기를 끈 서적『90년대생이 온다』 이후, '90년대생'은 한국 사회를 읽는...","지난해 인기를 끈 서적『90년대생이 온다』 이후, '90년대생'은 한국 사회를 읽는..."
499,중앙일보,라임 사태의 핵심 인물인 이종필 전 라임자산운용 부사장이 코스닥 상장사 스타모빌리티...,스타모빌리티는 라임의 배후 ‘회장님’으로 알려진 김모(46) 전 회장이 사실상 최대...

## 원문 내 문장의 분포

## 원문 내 단어의 분포

## 요약문 내 문장의 분포

## 요약문 내 단어의 분포